body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header .margen-superior {
    background-color: #2b2b2b;
    color: #fff;
    padding: 0.3rem;
    text-align: center;
}

header .margen-superior .marcas-colombia span { 
    margin: 0 1rem;
}

header .logo-motorbiker {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 3rem;
}

header .logo-motorbiker .logo img {
    height: 50px;
    width: 100px;
    padding: 0rem;
}

header .logo-motorbiker .menu-principal ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header .logo-motorbiker .menu-principal ul li {
    margin: 0 1rem;
}

header .logo-motorbiker .menu-principal ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

header .logo-motorbiker .menu-principal ul li a:hover {
    background-color: #444;
}

header .logo-motorbiker .seccion-users {
    display: flex;
    align-items: center;
}

header .logo-motorbiker .seccion-users input {
    padding: 0.5rem;
    margin-right: 1rem;
    border: none;
    border-radius: 3px;
}

header .logo-motorbiker .seccion-users .cart-icon,
header .logo-motorbiker .seccion-users .user-icon {
    font-size: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;
}

header .imagen img{
    width: 100%;
    height: auto;
}